.background{
    position: relative;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}
.top-video{
    position: absolute;
    
    left: 0;
    width: 100%;
    height: 650px;
    background-color: blue;

    
}
.top-video video{
    width: 100%;
    
}
